.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

.movieItem {
  display: flex;
  flex-direction: column;
  height: 270px;
  width: 140px;
}
.movieTitle {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
}

.movieLink {
  display: block;
  text-decoration: none;
  color: #000;
  transition: all ease 200ms;
}

.movieLink:hover {
  transform: scale(1.05);
}

.movieActiveLink {
  color: aqua;
}
